a {
  color: inherit;
}

.item-card {
  align-items: center;
  width: 75%;
  outline: 1px solid;
  display: inline-block;
  margin-bottom: 30px;
}

.item-card > * {
  text-align: center;
}

.hidden {
  display: none;
}

.disabled-link {
  pointer-events: none;
}

.last-bid {
  font-weight: bold;
}

.closed-item {
  color: gray;
}