.app {
  margin:0px;
  height:100vh;
}

/* html { 
  background: url("https://cdn.pixabay.com/photo/2017/06/13/13/51/marble-2398946__480.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

/* CSS */
button {
  appearance: none;
  background-color: rgb(219, 219, 219);
  border-radius: 40em;
  border-style: none;
  box-shadow: #9e9e9e 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  outline: none;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #afa793dc;
  box-shadow: #494644 0 -6px 8px inset;
  /* transform: scale(1.08); */
}

button:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  button {
    font-family:'ELEGANT', sans-serif; 
    font-weight: bold;
    font-size: .75rem;
    /* padding: .75rem 2rem; */
  }
}

header {
  margin-left: 20px;
  margin-top: 10px;
}

a {
  color: inherit;
  height:100%;
  text-decoration: none;
}

.main-logo{
  font-family:'ELEGANT', sans-serif;
  font-size: 65px;
  display:flex;
  box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 200;
}

.item-card {
  margin-bottom: 30px;
  flex: 1 1 0px;
  font-family: 'ELEGANT', sans-serif;
}

.spendable{
/* font-size: 30px;
font-family:'ELEGANT', sans-serif;
font-weight:bold; */
font-style: italic;
/* align-self: left;
text-align: center; */
}

.item-card > * {
  text-align: center;
  object-fit: cover;
  font-family: 'ELEGANT', sans-serif;
  padding-bottom: 0%;
  width: 100%;
  align-items: center;
}
/* .banner{
  display:inline-block;
} */

nav {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
}

nav > * {
  font-family: 'ELEGANT', sans-serif;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}

.item-name{
  align-items: center;
  width: 90%;
  font-family: 'ELEGANT', sans-serif;
  text-align: center;
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.item-bid{
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 0px 0px 0px 10px;
  text-align: center;
  margin: 0;
  padding: 4px;
}

.item-image{
   transition: all 1s ease-in-out; 
   box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.3);
   width: 100%;
   display: block;
}
.item-image:not(.closed-item):hover {
  transform: scale(1.1);
}

.hidden {
  display: none;
}

.disabled-link {
  pointer-events: none;
}

.homepage-head {
  margin-left: 15px;
  font-family: 'ELEGANT', sans-serif;
}

.account-form{
  font-family: 'ELEGANT', sans-serif;
}

.hwrap {
  overflow: hidden; 
  opacity: 100%;
  background: black;
  width: 100%;
  bottom:0;
  position:fixed;
}

.hmove { display: flex; }

.hitem {
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  font-family: 'ELEGANT', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #eee;

}

@keyframes tickerh {
  0% { transform: translate3d(100%, 0, 0); }
  100% { transform: translate3d(-400%, 0, 0); }
}

.hmove { animation: tickerh linear 45s infinite; }
.hmove:hover { animation-play-state: paused; }

.last-bid {
  font-weight: bold;
}

.closed-item {
  color: gray;
}

.closed-item img {
  filter: brightness(40%);
}

.homepage-img {
  display: block;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.category-container {
  display: flex;
  justify-content: space-evenly;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.image-container {
  position: relative;
  /* text-align: center; */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
}

.item-time {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 10px;
  text-align: center;
  margin: 0;
  padding: 5px;
}

.image-container:hover .item-time {
  display: block;
}

.image-container:hover .item-bid {
  display: block;
}

.item-page {
  display: flex;
  /* font-family: 'ELEGANT', sans-serif; */
}

.left-side {
  width: 65%;
}

.left-side > * {
  margin-left: 18%;
}

.item-page-image {
  width: 75%;
  margin-top: 40px;
}

.item-page-name {
  font-family: 'ELEGANT', sans-serif;
  text-align: left;
  margin-bottom: 50px;
}

.bid-history {
  margin-bottom: 100px;
}

.bid-card {
  margin: 0px;
  font-size: 12px;
}

.bid-history-label {
  font-size: 16px;
  margin-bottom: 10px;
}

.right-side {
  top: 200px;
  right: 50px;
  position: fixed;
  height: 400px;
  width: 25%;
  background-color: rgba(250, 241, 228, 0.6);
}

.right-side > * {
  margin-left: 10px;
}

.item-page-time {
  margin: 0;
  margin-left: 10px;
  position: absolute;
  bottom: 10px;
}

.bid-button {
  width: 100px;
  font-size: 18px;
  padding: 3px;
  margin-bottom: 10px;
  /* margin: 0;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 120px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}

.login-form {
  background-image: url("https://zavarellagraniteandmarble.com/wp-content/uploads/2018/06/page-marble.jpg");
  height: 100vh;
  width: 100%;
  position: absolute;
  text-align: center;
}

.div-in-div-sorry {
  font-size: 25px;
  margin-top: 200px;
}

.div-in-div-sorry a {
  text-decoration: underline;
}

.login-button {
  font-size: 25px;
  padding: 5px;
}